@import '../assets/colors';

.calculOre {
    
    .buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
        .addButton {
            color: $buttonGreen;
        }
        .removeButton {
            color: $buttonRed;
        }
    }
}