@import '../assets/colors';

.clock-digital {
    max-width: 200px;
    margin: auto;
    background-color: black;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    color: $greenClock;
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    outline: 2px solid $greenClock;
    text-shadow: 0 0 5px $greenClock;
    box-shadow: 0 0 10px black;
}